body
{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.bigbordertop
{
    height: 15px;
    background-image: url(/img/brdtoplgn.gif);
}
.bigborderltop
{
    height: 15px;
    width: 14px;
    background-image: url(/img/brdtopllgn.gif);
}
.bigborderrtop
{
    height: 15px;
    width: 14px;
    background-image: url(/img/brdtoprlgn.gif);
}
.bigborderbottom
{
    height: 17px;
    background-image: url(/img/brdbotlgn.gif);
}
.bigborderlbottom
{
    height: 17px;
    width: 14px;
    background-image: url(/img/brdbotllgn.gif);
}
.bigborderrbottom
{
    height: 17px;
    width: 14px;
    background-image: url(/img/brdbotrlgn.gif);
}
.toplgn
{
    width: 720px;
}